 @import 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css';
 @import url('https://fonts.googleapis.com/css?family=Muli');

 body {
   background: rgb(69, 77, 85);
   font-family: 'Muli', sans-serif;
 }

 h1 {
   color: moccasin;
 }

 label {
   font-weight: bold;
 }

 thead {
   background: rgb(30, 30, 30);
 }

 thead tr {
   border: ridge 3px gray;
 }

 th,
 td {
   text-align: center;
 }

 .title {
   background: linear-gradient(to bottom, #45484d 0%, #000000 100%);
   border-radius: 5px;
   border-bottom: solid 1px crimson;
   border-top: solid 1px crimson;
 }


 .btn {
   color: white;
   background: crimson;
   border: 1px solid burlywood;
   text-align: center;
 }

 .btn:focus {
   color: black;
   background: crimson;
 }

 .lbl {
   color: whitesmoke;
 }

 .diablo-form {
   background: #45484d;
   border: ridge 3px slategray;
   border-radius: 5px;
 }